.map-hidden {
  display: none;
}
.trail-rating-wrapper {
  display: flex;
  align-items: center;
  gap: 0.6em;
}

.star-img {
  width: 25px;
}
map-hidden-img,
.map-hidden-link,
.map-hidden-img img a {
  display: none;
  display: flex;
  width: 10%;
}
.trail-rating-wrapper {
  display: flex;
  gap: 0.6em;
}
.trail-wrapper {
  display: block;
}
.trail-link {
  text-decoration: none;
  color: black;
  display: inline-block;
}
.star-img {
  width: 25px;
}

@media (min-width: 768px) {
  .map-hidden {
    display: none;
  }
  .trails-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
  }
  .trail-img {
    width: 100%;
    margin-bottom: 1em;
  }
  .item-heading {
    font-size: 1.2rem;
  }
  .trail-title {
    margin-top: 0em;
  }

  .notifications-container {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .map-hidden {
    display: grid;
  }
  .trail-text {
    color: #6f6f6f;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px */
    letter-spacing: -0.52px;
  }
  .trail-title {
    margin-top: 0;
    padding-top: 0;
  }
  .tryon {
    display: grid;
    grid-template-areas:
      "heading img"
      "rating img"
      "text text";
  }

  .tryon-title {
    grid-area: heading;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
  }
  .tryon-rating {
    grid-area: rating;
  }
  .tryon-img {
    grid-area: img;
  }
  .tryon-text,
  .marquam-text {
    grid-area: text;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 45px;
  }

  .marquam {
    display: grid;
    grid-template-areas:
      "heading img"
      "rating img"
      "text text";
  }
  .trail-heading {
    grid-area: heading;
  }

  .marquam-title {
    grid-area: heading;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .marquam-rating {
    grid-area: rating;
  }
  .marquam-img {
    grid-area: img;
  }
  .marquam-text {
    grid-area: text;
    border-bottom: 1px solid #a8a8a8;
  }
  .wildwood {
    display: grid;
    grid-template-areas:
      "heading img"
      "rating img"
      "text text";
  }

  .wildwood-title {
    grid-area: heading;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .wildwood-rating {
    grid-area: rating;
  }
  .wildwood-img {
    grid-area: img;
  }
  .wildwood-text {
    grid-area: text;
    padding-bottom: 81px;
  }
  .trails-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      /* "heading heading" */
      "tryon map"
      "marquam map"
      "wildwood map";
    gap: 2em;
  }
  .trail-heading {
    grid-area: heading;
    margin-top: 65px;
    margin-bottom: 77px;
    color: #565656;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .map {
    grid-area: map;
    display: flex;
    align-self: flex-start;
    width: 100%;
  }
  .trail-img {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 479px;
    border-radius: 4px;
    width: 144px;
    height: 111px;
    align-self: end;
    justify-self: end;
  }
  .trail-rating-wrapper {
    display: flex;
    align-items: center;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    gap: 0.5em;
  }

  .star-img {
    width: 37px;
  }
  .trail-wrapper {
    margin-top: 0;
  }
  .map-hidden-img,
  .map-hidden-link,
  .map-hidden,
  .map-link {
    display: grid;
    border: 2px solid magenta;
    grid-area: map;
    display: flex;
    align-self: flex-start;
    width: 100%;
  }
  .trail-text {
    letter-spacing: -0.52px;
    color: #6f6f6f;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.52px;
  }
  .tryon,
  .marquam,
  .wildwood {
    display: grid;
    grid-template-areas:
      "heading img"
      "rating img"
      "text text";
  }
  .tryon-title,
  .marquam-title,
  .wildwood-title {
    grid-area: heading;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.6rem;
  }
  .trail-title {
    margin-top: 0;
    padding-top: 0;
  }
  .tryon-rating,
  .marquam-rating,
  .wildwood-rating {
    grid-area: rating;
  }
  .tryon-img,
  .marquam-img,
  .wildwood-img {
    grid-area: img;
  }
  .tryon-text,
  .marquam-text {
    grid-area: text;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 45px;
  }
  .wildwood-text {
    grid-area: text;
    padding-bottom: 81px;
  }
  .trails-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "tryon map"
      "marquam map"
      "wildwood map";
    gap: 2em;
  }
  .trail-heading {
    text-decoration: none;
    font-size: 2rem;
    grid-area: heading;
    margin-top: 65px;
    margin-bottom: 77px;
    color: #565656;
    font-family: Inter;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .map-img {
    width: 100%;
    grid-area: map;
    display: block;
    align-self: flex-start;
    width: 100%;
  }
  .trail-img {
    max-width: 300px;
    border-radius: 4px;
    /* width: 144px;
    height: 111px; */
    /* width: 264px; */
    margin-left: auto;
    display: grid;
    /* width: 100%;
    height: 100%; */
    align-self: end;
    justify-self: end;
    grid-area: image;
    /* width: 30%; */
    display: block;
    /* margin-right: 37px; */
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 210px;
    height: 150px;
  }
  .trail-rating-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: -6em;
    gap: 0.6em;
  }
  .star-img {
    width: 20px;
  }
  /* .trail-img {
    margin: 0;
  } */
}

/*.map-hidden {
    display: grid;
  }
  .map-img {
    width: 100%;
  }
  .trail-container {
    display: flex;
  }

  /*
  .trail-map-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "title title"
      "trail1 map"
      "trail2 map"
      "trail3 map";
  }
  .trail-heading {
    grid-area: title;
  }
  .trail-1 {
    grid-area: trail-1;
  }
  .trail-2 {
    grid-area: trail-2;
  }
  .trail-3 {
    grid-area: trail-3;
  }
  .map-img {
    grid-area: map;
  }

  .trail-wrapper {
    display: grid;
    grid-template-areas:
      "title image"
      "rating image"
      "text text";
    width: 520px;
  }
  .trail-title {
    grid-area: title;
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
  }
  .trail-img {
    grid-area: image;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: 37px;
    width: 144px;
    height: 111px;
    flex-shrink: 0;
    border-radius: 4px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .trail-rating {
    grid-area: rating;
    margin-top: 0;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .trail-text {
    grid-area: text;
    color: #6f6f6f;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px 
    letter-spacing: -0.52px;
    margin-bottom: 45px;
  }

  .trails {
    display: grid;
  }
  .trail-heading {
    margin-top: 65px;
    margin-bottom: 77px;
  }
  .tryon {
    border-bottom: 1px solid #a8a8a8;

    width: 564px;
  }
}

/*.trail-heading {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 65px;
    margin-bottom: 77px;
    border: 2px solid magenta;
  }
  .trail-map-container {
    display: flex;
    border: 2px solid blue;
    justify-content: space-between;
  }
  .map-img {
    border-radius: 6px;
    border: 1px solid #cecece;
    width: 839px;
  }
  
  .attraction-text {
    display: block;
    border: 2px solid purple;
  }
  .trail-info-wrapper {
    display: flex;
    flex-direction: column;

    border: 2px solid yellow;
  }
  .trail-wrapper {
    display: flex;
    border: 2px solid red;
    justify-items: center;
    width: 60%;
  }
  .trail-img {
    margin-right: 37px;
    width: 144px;
    height: 111px;
    flex-shrink: 0;
    border-radius: 4px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }
  .trail-title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .trail-text {
    color: #6f6f6f;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 39px 
    letter-spacing: -0.52px;
    display: block;
    display: flex;
    flex-direction: column;
  }
  .trail-rating {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
.hero-container {
    opacity: 1;
  }
  .trail-header {
    display: flex;
  }
  .trail-info-wrapper {
    display: flex;
    flex-direction: column;
  }
  .trail-map-container {
    display: flex;
    width: 50%;
  }
  .trail-heading {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .trail-img {
    width: 144px;
    height: 111px;
    flex-shrink: 0;
  }
  .map-img {
    width: 839px;
    height: 795px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid #cecece;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

*/
